* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Norse";
    src: url("fonts/Norsebold.otf") format("opentype");
}

body {
    font-family: "Arial, Helvetica, sans-serif";
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.logo {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background: rgba(0, 0, 0, 0.45);
}

.logo span {
    font-family: "Norse", serif;
    font-size: 72px;
    opacity: 0.8;
    color: #333;
}

.logo img {
    height: 90px;
    width: auto;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    width: 35%;
    background-image: url("images/odinls.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.right-panel {
    width: 65%;
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

input {
    width: 100%;
    max-width: 260px;
}
